html, body {
  margin: 0;
  padding: 0;
}

.tabbed {
  padding-left: 4.00em;
}

#sketch-holder {
  margin: 0;
  padding: 0;
  position: relative;
}

canvas {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: scroll;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
